.navbar{
    
  width: 100%;
  height: 80px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
  background: #1b263b;
  display:flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed;
  top: 0;
  left: 0;

}

.navbar ul {
    display: flex;
    list-style: none;
  }
  
  .navbar ul li {
    margin: 0 2em;
  }


.navbar a{
    color : white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}
   
body, html {
  margin: 0px 0px; 
  padding: 0;
  height: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

  background-color: #1b263b;
}





@media screen and (min-width: 875px) {
  img{
    width: 320px;
    height: 450px;
    border-radius: 20px;
  }
  h2{
    font-size: 32px;
    color: white
  }
}
@media screen and (max-width: 875px) {
  img{
    width: 260px;
    height: 360px;
    border-radius: 20px;
  }
  h2{
    font-size: 24px;
    color: white
  }
}
@media screen and (min-width: 580px)  {
  .wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8%;
  }
}
@media screen and (max-width: 580px) {
  img{
    width: 180px;
    height: 240px;
    border-radius: 20px;
  }
  h2{
    font-size: 24px;
    color: white
  }
  .wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8%;
    flex-direction: column;
  }
}
.person{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.person a :hover{
  opacity: 80%;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #fff;
}
.footer img {
  margin: auto;

  width: 50px;
  height: 50px;
  border-radius: 40px;
}

@media screen and (max-width : 900px){

  .navbar a{
      font-size:18px;
     
  }
}

@media screen and (max-width : 680px){
  .navbar a{
      font-size:16px;
     
  }
}