.navbar{
    
  width: 100%;
  height: 100px;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
  background: #b49f75;
  display:flex; 
  justify-content: center; 
  align-items: center; 
  position: fixed;
  top: 0;
  left: 0;

}

.navbar ul {
    display: flex;
    list-style: none;
  }
  
  .navbar ul li {
    margin: 0 2em;
  }


.navbar a{
    color : white;
    text-decoration: none;
    font-size:28px;
    font-weight: 300;
   
}