.navbar{
    
    width: 100%;
    height: 100px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
    background: #1b263b;
    display:flex; 
    justify-content: center; 
    align-items: center; 
    position: fixed;
    z-index : 1000;
    top: 0;
    left: 0;
  
  }
  
  .navbar ul {
      display: flex;
      list-style: none;
    }
    
    .navbar ul li {
      margin: 0 2em;
    }
  
  
  .navbar a{
      color : white;
      text-decoration: none;
      font-size:28px;
      font-weight: 300;
     
  }

  body{
      background-color: #1b263b;
  }

  .block {
    margin : 120px 250px 0px 250px;
    padding : 30px 60px;
    border : 3px solid rgb(255, 255, 255);
    border-radius: 30px;

}

 .block h2{
    margin-bottom: 54px;
    font-weight: 600;
    text-align : center;
    color : white;
    

}


.header-information{
    width:100%;
    height:500px;
    position: relative;

   
}



.header-information ul{
    list-style-type: square;
    margin-left: 3em;
    margin-top : 100px;
    
}

.header-information ul li{
   line-height: 40px;
    font-size : 18px;
    color : white;

}

.header-picture img{
    position: absolute;
    
    height :500px;
    width :400x;
    top : 20%;
    right : 20%;
}








.block-2 {
    margin : 100px 250px 0px 250px;
    border-radius: 30px;
    position: relative;

}

.block-2 h2{
    font-weight: 600;
    text-align : center;
    color : white;
}

.block-2 .list{
    display : inline-block;
    width : 250px;
    height : 200px;
    padding : 30px 60px;
    border-radius: 30px;
    border : 3px solid white;

    position: absolute;
    top : 0%;
    right : 0%;


}
 .block-2 .list-2{
    display : inline-block;
    width : 300px;
    height : 200px;
    padding : 30px 60px;
    border-radius: 30px;
    border : 3px solid white;
    position: absolute;
    top : 0%;
    left : 0%;

} 

.block p{
    color : white;
}

.block-2 .list li{
    line-height: 24px;
    color : white;
}

.block-2 .list-2 li{
    line-height: 24px;
    color : white;
}



